ch/ethz/inf/dbproject/model/simpleDatabase/dummy/
/home/mlei/workspace/IntroDBPart2/src/ch/ethz/inf/dbproject/model/simpleDatabase/operators/Scan.java
ch/ethz/inf/dbproject/model/simpleDatabase/operators/Scan.java
