/home/mlei/workspace/IntroDBPart2/src/.gitignore
ch/ethz/inf/dbproject/model/simpleDatabase/dummy/
/home/mlei/workspace/IntroDBPart2/src/ch/ethz/inf/dbproject/model/simpleDatabase/operators/Scan.java
/home/daniel/workspace/IntroDBPart2/src/ch/ethz/inf/dbproject/model/simpleDatabase/operators/Scan.java
